#footer
  #socialStuff
    a#facebookIcon.socialicon(name="facebookIcon", rel="nofollow", title="Facebook", href="#")
    a#twitterIcon.socialicon(name="twitterIcon", rel="nofollow", title="Follow on Twitter", href="#")
  #copyright
    | &copy; 2012 CityPockets Inc. Map by Google.
