#header
  a#logo(name="logo", href="index.html") Eventner
  h2#description Activity Monitor
  #navigation
    ul#dropmenu.menu
      li.current-menu-item
        a(href="index.html") Home
        ul.sub-menu
          li
            a(href="#") View All
